body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,Helvetica,pingfang sc,STXihei,华文细黑,microsoft yahei,微软雅黑,SimSun,宋体,Heiti,黑体,sans-serif;
  margin: auto;
  padding: 18px;
  max-width: 600px;
  font-size: 18px;
  text-align: left;
  background-color: white;
  position: relative;
}

a {
  color: black;
}

.dark a {
  color: white;
}

.dark {
  color: #f9f9f9;
  background-color: #222;
}

.about {
  margin-top: 100px;
}

.centered {
  text-align: center;;
}

nav a, footer div a{
	margin:0px 5px;
}



nav {
  display: block;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

footer {
  margin-top: 40px;
  text-align: center;
  display: block;
}

img {
  border-radius: 50%;
  width: 10rem;
}

.bottom-right {
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 100;
  position: fixed;
  font-size: 1em;
}

.bottom-right a:hover, .bottom-right a:focus {
  color: #1565c0;
  opacity: 100%;
  cursor: pointer;
}